/* Custom CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {

  background: linear-gradient(to right, #FFF6E9, #FFF3CF, #E8C872);
}

h1 {
  color: white;
  padding: 18px 0;
  text-align: center;
  font-size: 1.75rem;
  background: #637A9F;
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}

.weatherInput input {
  width: 92%;
  height: 46px;
  outline: none;
  padding: 0 15px;
  margin: 10px 0px 20px 0;
  font-size: 1.07rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.weatherInput button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  background: #637A9F;
}

.weatherInput {
  width: 550px;
}

.weatherData {
  width: 100%;
}

.locationInput .locationBtn {
  background: #637A9F;
}
.weatherInput .separator {
  height: 1.5px;
  width: 100%;
  background: #bbb;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherInput .separator::before {
  color: #E8C872;
  font-size: 1.18rem;
  padding: 0 15px;
}

.currentWeather {
  background: #C9D7DD;
  color: black;
  padding: 20px 70px 20px 20px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.currentWeather h2 {
  font-size: 1.7rem;
}

.weatherData h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 400;
}

.currentWeather .icon img {
  max-width: 120px;
  margin-top: -15px;
}

.currentWeather .icon .h4 {
  margin-top: -10px;
  text-transform: capitalize;
}

.daysForecast h2{
font-size: 1.5rem;
margin: 20px 0;
}

.weatherCards{
    display: flex;
    gap: 20px;
}

.weatherCards .card{
    background: #C9D7DD;
    list-style: none;
    color: black;
    padding: 18px 16px;
    border-radius: 5px;
    width: calc(100% / 5);
}

.weatherCards .card img{
    max-width: 70px;
    margin: 5px 0 -12px 0;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }

  .weatherInput, .weatherData {
    width: 100%;
  }

  .weatherCards {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .weatherCards .card {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
